@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import '../../node_modules/bulma/css/bulma.css';

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background-color: #535c68;
}

.navbar-item img {
  max-height: 95px
}


.navbar-burger span {
  background-color: #f0932b;
}
