@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import '../../node_modules/bulma/css/bulma.css';

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

$navbar-height: 6.5rem;
.navbar{
  height: $navbar-height;
  background-color: red;
}

.navbar-item img {
  max-height: 90px
}

